*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
#main_cards{
    width: 100%;

}
.container{
    /* background-color: purple; */
    max-width: 1440px;
    margin: 0 auto;
  padding: 50px 30px 0;
}
.card_title{
    /* background-color: red; */
    padding-left: 48px;
    margin-bottom: 100px;
}
h2{
    font-size: 55px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
}
.program_card{
    /* background-color: blue; */
    /* max-width: 100%; */
    margin: 20px 8px;
    border-radius: 30px;
    overflow: hidden;
    max-width: 100%;
    box-shadow: 1px 1px 15px  #b6a8a8;
    
}
.img_part{
    max-width: 100%;
   
}
img{
    width: 100%;


}
.card_describing{
    
    max-width: 100%;
    padding: 10px 20px 0;
}
h3{
    font-size: 30px;
    font-weight: bold;
}
p{
    margin-top: 43px;
    font-size: 25px;
    line-height: 130%;
}
.empty{
    margin-top: 0;
}
@media (min-width:300px) and (max-width:600px) {
   .container{
   padding: 0 ;
max-width: 100%;
    /* margin: 0 ; */
  

   }
 
   .card_title{
    /* padding-left: 40px; */
 
    margin-bottom: 40px;
    padding-left: 40px;
   }
   h2{
    font-size: 26px;
    line-height: 102%;
  
   }
   .img_part{
    max-width: 100%;
    border-radius: 0px;
   
}
img{
    width: 100%;


}

   /* .row{
    padding: 0 40px;

   } */
   .program_card{
    /* background-color: blue; */
    /* max-width: 100%; */
    margin: 20px auto;
    border-radius: 24px;
    /* overflow: hidden; */
    max-width: 60%;
    box-shadow: 1px 1px 15px  #b6a8a8;
    

}
.card_describing{
    padding: 5px 10px 0px 10px ;
}
h3{
    font-size: 14px;

}
p{
    font-size: 12px;
    margin-top: 23px;
}
}