@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    box-sizing: border-box;
    background-color: #EFEFEF;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    
    padding-left: 80px;
}
.content-box{
     border-radius: 30px;
     background-color:white;
     max-width:  760px;
     padding: 20px 0px 30px 40px;
}
.image-description{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.image{
    max-width: 100%;
}
.profile{
    max-width: 100%;
}
p{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
    max-width: 700px; 
    
    
}
.profile-description{
    margin-left: 30px;
}
h3{
    font-size: 30px;
    font-family: "Roboto Slab", serif;
}
h2{
    font-size: 55px;
    font-family: "Roboto Slab", serif;
}
@media (min-width:601px) and (max-width:991px) {
    .container{
        max-width: 100%;
        padding: 30px 30px 0;
       
    }
    .content-box{
        border-radius: 30px;
        background-color:white;
        /* max-width: 760px; */
        /* max-width: 100%; */
        padding: 20px 51px 20px 40px;

   }
   h2{
    font-size: 32px;
   }
   h3{
    font-size: 17px;
   }
   p{
    font-size: 12px;
   }
   .image-description{
    
    margin-top: 20px;
}
.image{
    max-width: 35%;

}
.profile{
    max-width: 100%;
}
}
@media (min-width:300px) and (max-width:600px) {
    .container{
        max-width: 100%;
        padding: 30px 30px 0;
       
    }
    .content-box{
        border-radius: 30px;
        background-color:white;
        /* max-width: 760px; */
        /* max-width: 100%; */
        padding: 15px 27px 18px 30px;

   }
   h2{
    font-size: 26px;
   }
   h3{
    font-size: 14px;
   }
   p{
    font-size: 10px;
   }
   .image-description{
    
    margin-top: 20px;
}
.image{
    max-width: 30%;
}
.profile{
    max-width: 100%;
}
.facebook{
    width: 20px;
}
}