@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* Design For Desktop */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #9DC9C8;
    font-family: "Roboto", sans-serif;
    width: 100%;


}

#main_section {
    height: 100vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    padding-top: 160px;
    padding-left: 85px;
    overflow: hidden;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-size: 55px;
     


}

.amount {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: -8px;
    font-weight: 400;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-weight: 400;


}

.main_contents {

    display: flex;
    justify-content: flex-start;
    font-family: "Roboto", sans-serif;
    margin-top: 60px;

}

.first_text {
    width: 314px;
}

.text_title {
    font-size: 25px;
    line-height: 101.4%;
    font-weight: 400;
    width: 230px;
}

.text_inner {
    font-size: 18px;
    margin-top: 20px;

}

.second_text {
    width: 308px;
    margin-left: 65px;
}



/* Design For Tablet */

@media (min-width: 601px) and (max-width: 991px) {


    .amount {
        font-size: 14px;
        font-weight: 400;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        font-size: 46px;
        font-weight: 400;
        width: 90%;

    }

    h2 {
        font-size: 32px;
        width: 90%;
    }

    .first_text {
        max-width: 46%;

    }

    .text_title {
        font-size: 14px;
        font-weight: 400;



    }

    .text_inner {
        font-size: 14px;
        margin-top: 20px;
        width: 228px;
    }

    .second_text {
        max-width: 25%;
        margin-left: 75px;
    }

}




 
    

/* Design For Mobile */



@media (min-width: 300px) and (max-width: 600px) {





    .amount {
        font-size: 14px;
        font-weight: 400;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        font-size: 46px;
        font-weight: 400;
        width: 90%;

    }


    .container {

        max-width: 100%;
        margin: 0 auto;
        padding-top: 130px;
        padding-left: 30px;
    

    }

    h2 {
        font-size: 26px;
        max-width: 75%; 
        /* background-color: red;  */
    }

    .first_text {
        max-width: 45%;
    }

    .text_title {
        font-size: 14px;
        font-weight: 400;
    }

    .text_inner {
        font-size: 13px;
        margin-top: 20px;
    }

    .second_text {
        margin-left: 20px;
        max-width: 46%;
    }
}

/* footer */
/* Design for Desktop */


footer {
    background-color: black;
    width: 100%;
    height: 400px;
}

 
.footer-container {
    max-width: 1440px;
    width: 87%;
    margin: 0 auto;
}

.first_logo {
    width: 115px;
    height: 68px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.images {
    width: 35px;
    height: 33px;
    display: flex;
}

.allfooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.rightside {
    width: 30%;
}

.leftside {
    width: 50%;
    /* padding-left: 25px; */
}

.last {
    padding-top: 40px;
    /* padding-left: 25px; */
}

.mail {
    width: 270px;
    height: 40px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 15px;
}

.last {
    width: 230px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 125px;
}

.number {
    color: #FFFFFF;
    width: 230px;
    height: 40px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-left: 15px;
    
}

.phone {
    display: flex;
    margin-top: 40px;
    align-items: baseline;
}

.gmail {
    display: flex;
    align-items: baseline;
   
}



/* Design for Tablet */
@media (min-width: 601px) and (max-width: 991px) {
    footer {
        background-color: black;
        width: 100%;
        height: 280px;
    }

    .footer-container {
        max-width: 991px;
        width: 90%;
        margin: 0 auto;
    }

    .first_logo {
        width: 67px;
        height: 54px;
    }

    .images {
        width: 20px;
        height: 20px;
    }

    .rightside {
        width: 30%;
        margin-top: -30px;
    }

    .leftside {
        width: 50%;
        padding-left: 40px;
    }

    .mail {
        width: 155px;
        height: 23px;
        color: #FFFFFF;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-left: 15px;
        margin-top: 20px;
    }

    .last {
        width: 50%;
        height: 23px;
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        color: #FFFFFF;
        margin-top: 55px;
        padding-left: 40px;
    }

    .number {
        color: #FFFFFF;
        height: 22px;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-left: 12px;
        
    }

    .phone {
        display: flex;
        margin-top: 40px;
        align-items: baseline;
    }

    

    .gmail {
        display: flex;
        align-items: baseline;

    }

    .gmail img {
        width: 15px;
    }

    .phone img {
        width: 15px;
    }
}

/* Design for mobile */


@media (min-width: 300px) and (max-width: 600px) {
    .allfooter {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
         
    }

    .mail {
        max-width: 90%;
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-left: 6px;
        margin-top: -10px;
    }
    .number {
        max-width: 90%;
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-left: 6px;

    }

    footer {
        background-color: black;
        width: 100%;
        height: 350px;
    }

    .footer-container {
        max-width: 100%;
        margin: 0 auto;
        padding-left: 5px;

    }

    .first_logo {

        width: 54px;
        height: 32px;
        margin-bottom: 5px;
    }

    .images {
        width: 15px;
        height: 15px;
    }

    .rightside {
        width: 50%;
    }

    .last {
        max-width: 60%;
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        color: #FFFFFF;
        margin-top: 100px;
    
        padding: 0;
    }
}

.gmail {
    display: flex;
    align-items: baseline;
    margin-top: -17px;
}

.gmail img {
    width: 15px;
}

.phone img {
    width: 15px;
}
img {
    margin: 0px 5px;
}
